---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import versionSlug from '../../lib/versionSlug';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: 100%;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li a {
				display: flex;
				flex-direction: row;
				gap: 1rem;
				align-items: center;
			}
			ul li h4 .version {
				font-size: 0.8em;
				color: var(--gray);
			}
			.post-title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
				flex: 1;
			}
			.date {
				margin: 0;
				color: var(--gray);
			}
			ul li a:hover h4 .version,
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
				}
				ul li a {
					flex-direction: column;
					gap: 0rem;
					align-items: flex-start;
					border-bottom: 1px dashed var(--gray);
				}
				ul li:last-child a {
					border-bottom: none;
				}
				ul li a p {
					align-self: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .post-title {
					font-size: 1.563em;
				}
			}
		</style>

		<script>
			// @ts-nocheck
			!function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
			posthog.init('phc_tvj1sCmirrSd5UiBYqfhyVHWn2LLjYddaISKVmEAykt',{api_host:'https://app.posthog.com'})
		</script>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${versionSlug(post.data)}/`}>
									<h4 class="post-title">
										<span class="version">v{post.data.zammVersion}: </span>
										{post.data.title}
									</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
