---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import versionSlug from '../lib/versionSlug';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
// find latest blog post
const latestPost = blogPosts.sort((a, b) => {
	const aVersion = a.data.zammVersion.split('.').map(Number);
	const bVersion = b.data.zammVersion.split('.').map(Number);
	return bVersion[0] - aVersion[0] || bVersion[1] - aVersion[1] || bVersion[2] - aVersion[2];
})[0];
const latestPostLink = `/blog/${versionSlug(latestPost.data)}/`;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				display: flex;
				flex-direction: row;
				gap: 2rem;
				width: 100%;
				align-items: center;
				justify-content: center;
			}

			main .zamm {
				font-family: 'Nasalization', Arial, Helvetica, sans-serif;
				flex-basis: 50%;
			}

			.zamm table {
				width: 1px;
				table-layout: auto;
				margin: 0 auto;
			}

			.zamm td.initial {
				font-size: 3rem;
				line-height: 3rem;
				font-weight: bold;
				color: var(--info-link);
				text-align: right;
			}

			.zamm td.word {
				font-size: 1.35rem;
				line-height: 1.85rem;
				text-transform: uppercase;
				text-align: left;
				vertical-align: bottom;
				white-space: nowrap;
			}

			.zamm td.word span {
				text-transform: lowercase;
				color: var(--gray);
			}

			.content {
				flex-basis: 50%;
			}

			p, ul {
				text-align: left;
				font-family: 'Good Timing', Arial, Helvetica, sans-serif;
			}

			ul {
				padding-left: 1em;
				list-style-type: "\22b1";
			}

			li {
				padding-left: 0.5em;
			}

			@media (max-width: 800px) {
				main {
					flex-direction: column;
					gap: 0;
				}

				main .zamm {
					flex-basis: auto;
					margin: 2rem 0;
				}

				.zamm td.initial {
					font-size: 2.5rem;
					line-height: 2.5rem;
				}

				.zamm td.word {
					font-size: 1.2rem;
					line-height: 1.7rem;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="zamm">
				<table>
					<tr>
						<td class="initial">Z</td>
						<td class="word">en<span> and the</span></td>
					</tr>
					<tr>
						<td class="initial">A</td>
						<td class="word">utomation<span> of</span></td>
					</tr>
					<tr>
						<td class="initial">M</td>
						<td class="word">etaprogramming<span> for the</span></td>
					</tr>
					<tr>
						<td class="initial">M</td>
						<td class="word">asses</td>
					</tr>
				</table>
			</div>
			<div class="content">
				<p>Hi, I'm Amos! This is a blog documenting my journey through life, starting from my exploration of AI automation. It is named after <a href="https://en.wikipedia.org/wiki/Zen_and_the_Art_of_Motorcycle_Maintenance">the original ZAMM</a>.</p>
				<ul>
						<li>My most personal piece of writing has been <a href="/blog/v1.0.0/"><em>The Ceremony</em></a></li>
						<li>My current approach to life is documented in my <a href="/posts/v1.1.1/fml-amos-2025-07.pdf">personal field manual</a></li>
						<li>My latest post is <a href={latestPostLink}>ZAMM v{latestPost.data.zammVersion} &ndash; <em>{latestPost.data.title}</em></a></li>
					</ul>
			</div>
		</main>
		<Footer />
	</body>
</html>
