---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import versionSlug from '../lib/versionSlug';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
// find latest blog post
const latestPost = blogPosts.sort((a, b) => {
	const aVersion = a.data.zammVersion.split('.').map(Number);
	const bVersion = b.data.zammVersion.split('.').map(Number);
	return bVersion[0] - aVersion[0] || bVersion[1] - aVersion[1] || bVersion[2] - aVersion[2];
})[0];
const latestPostLink = `/blog/${versionSlug(latestPost.data)}/`;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			h1 {
				text-align: center;
				font-family: 'Nasalization', Arial, Helvetica, sans-serif;
			}

			p {
				text-align: left;
				font-family: 'Good Timing', Arial, Helvetica, sans-serif;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>ZAMM</h1>
			<p>Hi, I'm Amos! This is a blog documenting my exploration of AI automation and other topics I want to record my thoughts on. Liza is a lover and I mention her sometimes.</p>
			<p>Check out the latest post: <a href={latestPostLink}>ZAMM v{latestPost.data.zammVersion} &ndash; {latestPost.data.title}</a>.</p>
		</main>
		<Footer />
	</body>
</html>
