---
import type { BlogPost } from '../content/config';
import versionSlug from '../lib/versionSlug';


type Props = {
  release: BlogPost;
  linkBlogPost?: boolean;
};

const {
  release,
  linkBlogPost,
} = Astro.props;

const {
  zammVersion: releaseVersion,
  title: blogPostTitle,
  releaseLinks: {
    page: releasePageLink,
    windowsExe: windowsExeLink,
    windowsMsi: windowsMsiLink,
    macDmg: macDmgLink,
    linuxAppImage: linuxAppImageLink,
    linuxDeb: linuxDebLink,
  },
} = release;

const blogPostLink = `/blog/${versionSlug(release)}`;
---

<div class="release-container">
  Download <a href={releasePageLink}>v{releaseVersion}</a> {linkBlogPost &&
    <span>
      &ndash; <a href={blogPostLink}>{blogPostTitle}</a>
    </span>
  } for:

  <ul>
    <li>
      Windows: <a href={windowsExeLink} download>exe</a> | <a href={windowsMsiLink} download>msi</a>
    </li>
    <li>
      Mac: <a href={macDmgLink} download>dmg</a>
    </li>
    <li>
      Linux: <a href={linuxAppImageLink} download>AppImage</a> | <a href={linuxDebLink} download>deb</a>
    </li>
  </ul>
</div>

<style>
  .release-container {
    background-color: #add8e667;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
  }

  ul {
    margin: 0;
  }
</style>
