---
import type { MarkdownHeading } from 'astro';
import type { BlogPost } from '../content/config';
import versionSlug from '../lib/versionSlug';


type Props = {
  release: BlogPost;
  headings?: MarkdownHeading[];
  linkBlogPost?: boolean;
};

type NestedHeading = {
  slug: string;
  text: string;
  children: NestedHeading[];
};

const {
  release,
  headings,
  linkBlogPost,
} = Astro.props;

const nestedHeadings = headings?.reduce((acc, heading) => {
  if (heading.depth === 2) {
    acc.push({
      slug: heading.slug,
      text: heading.text,
      children: [],
    });
  } else if (heading.depth === 3) {
    const parent = acc[acc.length - 1];
    parent.children.push({
      slug: heading.slug,
      text: heading.text,
      children: [],
    });
  }
  return acc;
}, [] as NestedHeading[]);

const {
  zammVersion: releaseVersion,
  title: blogPostTitle,
  releaseLinks,
} = release;

const blogPostLink = `/blog/${versionSlug(release)}`;
---

<div class="release-container">
  {nestedHeadings &&
    <nav>
      This is a blog post about the release of
      {releaseLinks
        ? <a href={releaseLinks.page}>ZAMM version {releaseVersion}</a>
        : `ZAMM version ${releaseVersion}`
      }, as well as other topics of interest to me.
      {nestedHeadings.length > 0 && <span>Feel free to jump directly to a given topic:</span>}
      <ul>
        {
          nestedHeadings.map((h2Headings) => (
            <li>
              <a href={`#${h2Headings.slug}`}>{h2Headings.text}</a>
              {h2Headings.children.length > 0 &&
                <ul class="h3-headings">
                  {
                    h2Headings.children.map((h3Heading) => (
                      <li>
                        <a href={`#${h3Heading.slug}`}>{h3Heading.text}</a>
                      </li>
                    ))
                  }
                </ul>
              }
            </li>
          ))
        }
      </ul>
    </nav>
  }

  {releaseLinks?.installers &&
    <div>
      <hr />

      <span>Download for:</span>
      <ul>
        <li>
          Windows: <a href={releaseLinks.installers.windowsExe} download>exe</a> / <a href={releaseLinks.installers.windowsMsi} download>msi</a>
        </li>
        <li>
          Mac: <a href={releaseLinks.installers.macDmg} download>dmg</a>
        </li>
        <li>
          Linux: <a href={releaseLinks.installers.linuxAppImage} download>AppImage</a> / <a href={releaseLinks.installers.linuxDeb} download>deb</a>
        </li>
      </ul>
    </div>
  }
</div>

<style>
  .release-container {
    background-color: #add8e667;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
  }

  hr {
    border-top: 1px dashed rgb(173, 185, 230);
    margin: 1rem;
  }

  ul {
    margin: 0;
  }

  nav ul {
    list-style-type: none;
    padding-left: 1rem;
    margin-top: 0.5rem;
  }

  nav ul.h3-headings {
    list-style-type: '-';
    margin-top: 0;
  }

  nav ul.h3-headings li {
    padding-left: 0.5rem;
  }
</style>
