---
import type { Digestible } from '../content/config';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import digestibleSlug from '../lib/digestibleSlug';
import DiscussionLinks from '../components/DiscussionLinks.astro';
import type { MarkdownHeading } from 'astro';

type Props = Digestible & { 
  headings: MarkdownHeading[];
  blogPost: CollectionEntry<'blog'>;
};

const data = Astro.props;
const {
	title, description, pubDate, updatedDate, blogPost
} = data;

const zammVersion = blogPost.data.zammVersion;
const fullTitle = title;
const descriptionText = description ?? `Digestible portion of blog post for v${zammVersion}`;
const postHistoryUrl = `https://github.com/zamm-dev/website/commits/main/src/content/digestibles/${digestibleSlug(zammVersion, title)}.mdx`;
---

<html lang="en">
	<head>
		<BaseHead title={fullTitle} description={descriptionText} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.digestible-body {
				width: 720px;
				max-width: 100%;
				margin: auto;
				color: rgb(var(--gray-dark));
			}
			@media (min-width: 720px) {
				.digestible-body {
					padding: 1em;
					max-width: calc(100% - 2em);
				}
			}
			.prose :global(li p:first-of-type) {
				margin-top: 0.5em;
			}
			.prose :global(li p:last-of-type) {
				margin-bottom: 0.5em;
			}
			.blog-link {
				text-align: center;
				padding: 1rem;
				margin: 0;
			}
			.blog-link a {
				font-weight: bold;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="title">
					<h1>{title}</h1>
					<table class="dates">
						<tr>
							<td>Published</td>
							<td class="date"><FormattedDate date={pubDate} /></td>
						</tr>
						{
							updatedDate && (
								<tr>
									<td><a href={postHistoryUrl}>Last update</a></td>
									<td class="date"><FormattedDate date={updatedDate} /></td>
								</tr>
							)
						}
					</table>
				</div>
				<div class="digestible-body">
					<div class="blog-link">
						Full blog post: <a href={`/blog/v${zammVersion}/`}>v{zammVersion} - {blogPost.data.title}</a>
					</div>
					<div class="prose">
						<slot />
					</div>
					<DiscussionLinks />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
